* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

/* COMMON STYLES */

.send-message-btn {
  height: 100%;
}

.input-chat-message {
  width: 60%;
  height: 100%;
  resize: none;
}

.chat {
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
  width: 100%;
}

/* HEADER BLOCK */

.header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0 1px 5px rgb(80, 80, 80, 0.1);
}

.logo {
  content: url("./assets/img/logo.png");
  transform: scale(0.25);
}

.header-block {
  position: relative;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

/* LAYOUT BLOCK */

.outlet {
  width: 90%;
  margin: 0 0 0 10%;
  height: 100vh;
}

/* LEFTSIDE BLOCK */

.leftside {
  display: flex;
  position: absolute;
  width: 10%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 1px 5px rgb(80, 80, 80, 0.1);
}

/* DEBATES WINDOW*/

.debates-window {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}

/* Participants block */

.participants {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.participant-item {
  padding: 15px;
  height: 50%;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

/* Common Chat styles */

.message-item,
.message-name-and-text {
  display: flex;
  justify-content: space-between;
}

/* Dispute block */

.dispute {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

.dispute-chat-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 20%;
  border: 1px solid rgb(80, 80, 80, 0.1);
  background-color: white;
  bottom: 0;
  left: 0;
}

.dispute-chat-form-message {
  width: 60%;
  height: 100%;
  resize: none;
}

/* Viewers chat block */

.spectators {
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

.chat-messages {
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-form {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 20%;
  border: 2px solid goldenrod;
  background-color: white;
  bottom: 0;
  left: 0;
}

.chat-form-name {
  width: 20%;
}

/* FOOTER BLOCK */

.footer {
  position: relative;
  display: flex;
  bottom: 0;
  justify-content: center;
  height: 100px;
  width: 100vw;
  background-color: lightslategray;
}
