@font-face {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

/* COMMON STYLES */

.wrapper {
  width: 100%;
}

.preloader {
  content: url("./assets/preloader/48x48.gif");
}

/* HEADER BLOCK */

.header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100vw;
  padding: 10px 50px;
  background-color: white;
  box-shadow: 0 1px 5px rgb(80, 80, 80, 0.1);
}

.logo {
  content: url("./assets/img/logo.png");
  transform: scale(0.25);
}

.headerBlock {
  position: relative;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

/* LAYOUT BLOCK */
.outlet {
  width: 90%;
  margin: 0 0 0 10%;
  height: 100vh;
}

/* LEFTSIDE BLOCK */

.leftside {
  display: flex;
  position: absolute;
  width: 10%;
  height: 100vh;
  background-color: white;
  box-shadow: 0 1px 5px rgb(80, 80, 80, 0.1);
}

/* HOME PAGE -TEMP STYLES */
.homePage {
  margin: 50px 50px;
}
.homePage * {
  padding: 5px 0 5px 10px;
}

.homePage li {
  list-style-type: none;
}

.homePage li::before {
  content: "-";
  padding: 0 10px 0 0px;
}

/* DEBATES WINDOW*/

.debatesWindow {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
}

/* Participants block */

.participants {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.participantItem {
  padding: 15px;
  height: 50%;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

/* Common Chat styles */
.chatField {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80%;
}

.messageItem,
.messageText {
  display: flex;
  justify-content: space-between;
}

.messageItem {
  position: relative;
  width: 70%;
  border: 1px solid rgb(80, 80, 80, 0.1);
  margin: 1rem 0;
  padding: 1rem 1rem;
}
.messageSender {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  font-weight: bold;
}

.messageText {
  position: relative;
  margin: 1rem 0 0 0;
}

.messageActionsWrapper {
  z-index: 100;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  content: "";
  width: 16px;
  height: 16px;
  background-color: rgb(80, 80, 80, 0.2);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageActionsWrapper:before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: black;
}

.messageActionsWrapper > * {
  display: none;
}

.messageActionsWrapper:hover > * {
  display: block;
  margin: 35px 0 0 -100px;
  min-width: 100px;
  height: 2.5rem;
  background-color: white;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

.messageActionsWrapper:hover:before {
  display: none;
}

.messageActions > *:hover {
  cursor: pointer;
  font-weight: bold;
}

.likeWrapper {
  position: absolute;
  right: 6rem;
  bottom: 1.3rem;
}

.likeWrapper:hover {
  cursor: pointer;
}

.likeCounter {
  position: absolute;
}

.likeHeartInactive,
.likeHeartActive {
  position: absolute;
  left: 0.75rem;
  width: 1rem;
  height: 1rem;
  content: "";
}

.likeHeartInactive {
  background: url("./assets/img/heart-regular.svg");
}

.likeHeartActive {
  background: url("./assets/img/heart-solid.svg");
}

.messageTime {
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
  font-size: small;
  color: rgb(80, 80, 80, 0.5);
}

.userLogin {
  position: relative;
  display: block;
  right: 5%;
  font-weight: 600;
}

.sendMessageForm {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  border: 1px solid rgb(80, 80, 80, 0.1);
  background-color: white;
}

.inputChatMessage {
  height: 50%;
  resize: none;
}

.sendMessageBtn {
  height: 50%;
}

/* Dispute block */

.dispute {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

/* Viewers chat block */

.spectators {
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(80, 80, 80, 0.1);
}

/* FOOTER BLOCK */

.footer {
  position: relative;
  display: flex;
  bottom: 0;
  justify-content: center;
  height: 100px;
  width: 100vw;
  background-color: lightslategray;
}
